<div class="app_root" #appRoot (scroll)="scoll(container.offsetHeight,appRoot.scrollTop)">
    <div class="container-fluid" #container>
        <div class="row content_container">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 item" *ngFor="let item of items"
                 [ngClass]="{'hide':type!=null&&item!=type}">
                <div class="item_content">
                    <img class="item_img" src="{{item.itemImgUrl}}"
                         (click)="itemChooese(item)">

                    <div class="item_text row">
                        <div class="pull-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="{{item.user.headIcon}}" class="head_ico pull-left">
                            <a class="username pull-left">{{item.user.userName}}</a>
                        </div>
                        <div class="social_item pull-left col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <span><i class="fa fa-eye"></i>{{item.countComent}}</span>
                            <span><i class="fa fa-comments"></i>{{item.countWatch}}</span>
                            <span><i class="fa fa-heart do"></i>{{item.countLike}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load_more text-center wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <a href="javascript:;" (click)="loadMore()" class="btn btn-default">
                    <i class="fa fa-spinner  fa-fw" [ngClass]="{'fa-spin':loadingMore}"></i> 加载更多
                </a>
            </div>
        </div>
        <div class="right_nav">
        </div>
    </div>
</div>

<a href="javascript:;" class="scroll_to_top btn btn-default" *ngIf="appRoot.scrollTop>500" (click)="toTop('.app_root')">
    <i class="fa fa-angle-double-up fa-2x" aria-hidden="true"></i>
</a>