doctype html
html
  head
    meta(charset="utf-8")
    title=title
    base(href="/")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#2F3238")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
  body
    app-root Loading...
    script(type="text/javascript", src="http://localhost:3000/inline.js")
    script(type="text/javascript", src="http://localhost:3000/styles.bundle.js")
    script(type="text/javascript", src="http://localhost:3000/scripts.bundle.js")
    script(type="text/javascript", src="http://localhost:3000/main.bundle.js")