//-------------------------------------------------------------- pull
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

//-------------------------------------------------------------- text_align
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

//-------------------------------------------------------------- cursor
.point {
  cursor: pointer;
}

//-------------------------------------------------------------- radius
.radius_max {
  border-radius: 999px;
}

.radius_2px {
  border-radius: 2px;
}

radius_4px {
  border-radius: 4px;
}

.radius_10px {
  border-radius: 10px;
}

//-------------------------------------------------------------- margin
.wraper_2px {
  margin: 2px;
}

.wraper_5px {
  margin: 5px;
}

.wraper_10px {
  margin: 10px;
}

.wraper_20px {
  margin: 20px;
}

//-------------------------------------------------------------- padding
.padding_2px {
  padding: 2px;
}

.padding_5px {
  padding: 5px;
}

.padding_10px {
  padding: 10px;
}

.padding_20px{
  padding: 20px;
}

.opcity_3{
  opacity: 0.3;
}