/* line 1, _publicStyle.scss */
body, html {
  overflow-x: hidden;
  background-color: white;
}

/* line 6, _publicStyle.scss */
.router {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  transition: transform 0.3s;
}
/* line 13, _publicStyle.scss */
.router.show {
  transform: translate(180px, 0);
  transition: transform 0.3s;
}

/* line 18, _publicStyle.scss */
.app_root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 51px;
}

/* line 28, _publicStyle.scss */
.wrapper-xs {
  padding: 5px;
}

/* line 32, _publicStyle.scss */
.wrapper-sm {
  padding: 10px;
}

/* line 36, _publicStyle.scss */
.wrapper {
  padding: 15px;
}

/* line 40, _publicStyle.scss */
.wrapper-md {
  padding: 20px;
}

/* line 44, _publicStyle.scss */
.wrapper-lg {
  padding: 30px;
}

/* line 48, _publicStyle.scss */
.wrapper-xl {
  padding: 50px;
}

/* line 52, _publicStyle.scss */
.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 57, _publicStyle.scss */
.padder-md {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 62, _publicStyle.scss */
.padder {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 67, _publicStyle.scss */
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 72, _publicStyle.scss */
.no-padder {
  padding: 0 !important;
}

/* line 76, _publicStyle.scss */
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 81, _publicStyle.scss */
.pull-out {
  margin: -10px -15px;
}

/* line 85, _publicStyle.scss */
.text-center {
  text-align: center;
}

/* line 89, _publicStyle.scss */
.rounded {
  border-radius: 500px;
}

/* line 1, _reset.scss */
body, html {
  font-family: 'Microsoft YaHei', arial, tahoma, \5b8b\4f53, sans-serif;
}

/* line 7, _reset.scss */
*::-webkit-scrollbar {
  width: 6px;
  height: 16px;
  background-color: #F5F5F5;
}
/* line 13, _reset.scss */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
/* line 18, _reset.scss */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
