/* line 5, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, _position.scss */
.pull-left {
  float: left;
}

/* line 6, _position.scss */
.pull-right {
  float: right;
}

/* line 11, _position.scss */
.text-center {
  text-align: center;
}

/* line 15, _position.scss */
.text-left {
  text-align: left;
}

/* line 19, _position.scss */
.text-right {
  text-align: right;
}

/* line 24, _position.scss */
.point {
  cursor: pointer;
}

/* line 29, _position.scss */
.radius_max {
  border-radius: 999px;
}

/* line 33, _position.scss */
.radius_2px {
  border-radius: 2px;
}

/* line 37, _position.scss */
radius_4px {
  border-radius: 4px;
}

/* line 41, _position.scss */
.radius_10px {
  border-radius: 10px;
}

/* line 46, _position.scss */
.wraper_2px {
  margin: 2px;
}

/* line 50, _position.scss */
.wraper_5px {
  margin: 5px;
}

/* line 54, _position.scss */
.wraper_10px {
  margin: 10px;
}

/* line 58, _position.scss */
.wraper_20px {
  margin: 20px;
}

/* line 63, _position.scss */
.padding_2px {
  padding: 2px;
}

/* line 67, _position.scss */
.padding_5px {
  padding: 5px;
}

/* line 71, _position.scss */
.padding_10px {
  padding: 10px;
}

/* line 75, _position.scss */
.padding_20px {
  padding: 20px;
}

/* line 79, _position.scss */
.opcity_3 {
  opacity: 0.3;
}

/* line 1, _style_reset.scss */
body, html {
  -webkit-font-smoothing: none;
  background-color: #ededed;
  color: #151a1d;
  font-family: "SimHei",Tahoma,Arial;
}

/* line 9, _style_reset.scss */
button {
  cursor: pointer;
}

/* line 13, _style_reset.scss */
a, input, button {
  outline: none;
}

/* line 17, _style_reset.scss */
.input_group {
  position: relative;
  overflow: hidden;
}
/* line 20, _style_reset.scss */
.input_group .left-ico {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  transform: translate(0, -50%);
}
/* line 27, _style_reset.scss */
.input_group .right-ico {
  position: absolute;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* line 37, _style_reset.scss */
.md-big {
  font-weight: 500;
  height: 5.8rem;
  font-size: 2.4rem;
  border: 0.1rem solid #111;
  line-height: 5.8rem;
}
/* line 43, _style_reset.scss */
.md-big.noborder {
  border: none;
}

/* line 49, _style_reset.scss */
button.btn-default, input.btn-default, a.btn-default, span.btn-default {
  background-color: #006600;
  color: #fff;
}
