<div class="login_container padding_20px" (click)="module=null">
    <div class="title text-center">
        <h1>登录</h1>
    </div>
    <div class="input_group">
        <input type="text" placeholder="用户名">
    </div>
    <div class="input_group">
        <input type="text" placeholder="密码">
    </div>
    <div class="input_group">
        <button class="login_btn">登录</button>
    </div>
    <div class="input_group">
        <button class="register_btn">注册</button>
    </div>
    <div class="input_group">
        <button class="findpass_btn">找回密码</button>
    </div>
</div>
