<nav class="sidenav " [ngClass]="{'show':sidenav}" (click)="$event.preventDefault()">
    <div class="menu_list">
        <ul class="list-group">
            <a class="list-group-item" href="javascript:;" routerLink="index.html">
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home
            </a>
            <a class="list-group-item" href="javascript:;" (click)="g1.open=!(g1.open||false)" #g1>
                <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i>
                <span>菜单一</span>
            </a>
            <ul class="list-group sub_list" data-ride="collapse" [ngClass]="{'show': g1.open}">
                <a class="list-group-item" routerLink="index.html">
                    <i class="fa fa-angle-right fa-fw" aria-hidden="true"></i>
                    HOME
                </a>
            </ul>
            <a class="list-group-item" href="javascript:;" routerLink="index.html">
                <i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i>&nbsp; 发布
            </a>
        </ul>
    </div>
</nav>
<nav class="nav navbar-fixed-top navbar headnav">
    <a class="navbar-brand" href="javascript:;" [ngClass]="{'show': sidenav}">Moondust</a>
    <div class="nav_transform" [ngClass]="{'show':sidenav}">
        <button class="sidenav_btn btn btn-default pull-left" (click)="sidenav=sidenav==true?false:true">
            <i class="fa" [ngClass]="{'fa-align-left': !sidenav,'fa-align-right':sidenav}"></i>
        </button>
        <form class="form-inline navbar-form pull-left">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="submit">Search</button>
        </form>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item" routerLink="publicGallary.html">
            <a class="nav-link" href="javascript:;">公共画廊
                <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:;">Pricing</a>
        </li>
        <li class="nav-item" *ngIf="checkLogin()" dropdown dropdown-append-to-body>
            <a id="btn-append-to-body" class="nav-link pull-left" href="javascript:;" dropdownToggle>
                {{getLoginProfile().userName}}
                <span class="caret"></span>
            </a>
            <img src="{{getLoginProfile().headIcon}}" class="head_ico pull-right">
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="javascript:;">用户注销</a></li>
            </ul>
        </li>
        <li class="nav-item" *ngIf="!checkLogin()" (click)="modal.show()">
            <a class="nav-link pull-left" href="javascript:;">登录</a>
        </li>
    </ul>
</nav>
<div class="router" [ngClass]="{'show':sidenav}" (click)="$event.preventDefault()">
    <router-outlet>
    </router-outlet>
</div>
<div bsModal #modal="bs-modal" id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modelContent" [modal]="modal"></div>
    </div>
</div>
