/* line 4, app.navigation.scss */
.sidenav, .headnav {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 8, app.navigation.scss */
.sidenav {
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  left: -180px;
  position: fixed;
  overflow: auto;
  top: 41px;
  width: 180px;
  transform: translate(0, 0);
  transition: transform 0.3s;
}
/* line 18, app.navigation.scss */
.sidenav.show {
  transform: translate(180px, 0);
  transition: transform 0.3s;
}
/* line 21, app.navigation.scss */
.sidenav .list-group, .sidenav .list-group-item {
  border: none;
  border-radius: 0;
}
/* line 25, app.navigation.scss */
.sidenav .sub_list {
  display: none;
}
/* line 27, app.navigation.scss */
.sidenav .sub_list.show {
  display: block;
}

/* line 32, app.navigation.scss */
.headnav {
  padding: 0;
  border-radius: 0;
}
/* line 35, app.navigation.scss */
.headnav .navbar-brand {
  display: none;
  position: absolute;
  text-align: center;
  width: 180px;
}
/* line 40, app.navigation.scss */
.headnav .navbar-brand.show {
  display: block;
}
/* line 45, app.navigation.scss */
.headnav .nav_transform {
  transform: translate(0, 0);
  transition: transform 0.3s;
}
/* line 46, app.navigation.scss */
.headnav .nav_transform .sidenav_btn {
  margin: auto 0.625rem;
}
/* line 49, app.navigation.scss */
.headnav .nav_transform.show {
  transform: translate(180px, 0);
  transition: transform 0.3s;
}
/* line 54, app.navigation.scss */
.headnav img.head_ico {
  height: 41px;
  width: 41px;
  border-radius: 41px;
}
/* line 59, app.navigation.scss */
.headnav li.nav-item {
  margin: 0 !important;
  padding: 0 10px 0 10px;
  height: 41px;
}
/* line 63, app.navigation.scss */
.headnav li.nav-item.active {
  background-color: black;
}
/* line 66, app.navigation.scss */
.headnav li.nav-item:hover {
  background-color: black;
}
/* line 69, app.navigation.scss */
.headnav li.nav-item .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 41px;
  right: 0;
  left: auto;
}
