@import "../../../../styles/theme/animations";
@import "../../../../styles/theme/define";

.register_body {
  display: none;
  &.show {
    display: block;
  }
}

.login_body {
  &.hide {
    display: none;
  }
}

.choose_option {
  button:first-child {
    width: 45%;
    margin-left: 0;
  }
  button:last-child {
    width: 45%;
    margin-right: 0;
  }
}

.form-group {
  position: relative;
  span.err {
    $height: 15px;
    font-size: $height;
    position: absolute;
    transform: translate(0, $height / 2);
    bottom: 50%;
    right: 10px;
    color: red;
  }
}

