/* line 1, style.scss */
.app_root {
  padding-top: 0;
  height: 100%;
}

@media screen and (min-width: 768px) {
  /* line 7, style.scss */
  #slider {
    z-index: 1032;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  /* line 17, style.scss */
  #slider .slide {
    position: absolute;
    top: 0px;
    height: 100%;
    width: auto;
    cursor: pointer;
  }
  /* line 23, style.scss */
  #slider .slide .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #F80;
    writing-mode: vertical-rl;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 1.5em;
    text-decoration: none;
  }
  /* line 34, style.scss */
  #slider .slide .backgroundText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: #000;
    filter: alpha(opacity=40);
    opacity: 0.4;
  }
  /* line 43, style.scss */
  #slider .slide .diapo {
    position: absolute;
    height: 100%;
    visibility: hidden;
  }
}
