<div class="login_container text-center" *ngIf="module=='findpass'">
    <div class="input_group">
        <input type="text" placeholder="手机号" class="text-center md-big">

    </div>
    <div class="input_group">
        <input type="text" placeholder="验证码" class="text-center md-big ">
        <span class="btn-default right-ico md-big padding_10px point">
            验证码
        </span>
    </div>
    <div class="input_group">
        <input type="password" placeholder="密码" class="text-center md-big">

    </div>
    <div class="input_group">
        <input type="password" placeholder="确认密码" class="text-center md-big">

    </div>
    <div class="input_group">
        <button class="md-big btn-default">重置密码</button>
    </div>
</div>